/* colors */
:root {
    --black: #181010;
    --purple: #84739c;
    --red: #f7b58c;
    --pink: #ffefff;
}

* {
    font-family: 'Press Start 2P', cursive;
    color: var(--black);
}

.bg-pink {
    background-color: var(--pink)
}

#success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    color: var(--purple);
}